body {
  font-family: "Expressway";
}

h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

footer {
  margin-top: 30px;
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 24px;
    line-height: 34px;
  }

  h2 {
    font-size: 22px;
  }
}
